.header {
    background-image: url('../static/splash-bg.webp');
    background-size: contain;
    color: #000000cc;
    padding: 20px 50px !important;
    height: 175px;
}

.header-right-panel {
    font-size: 12px !important;
}

.header-icon-big {
    font-size: 25px !important;
}

.header-icon-socials {
    font-size: 17px !important
}

.side-menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu-list>li>button {
    width: 100%;
    font-size: 20px;
}

#sideMenu {
    background: url('../static/splash-bg.webp');
    background-size: cover;
}

@media all and (min-width: 300px) and (max-width: 768px) {
    .header-logo {
        height: 60px !important;
    }

    .header {
        padding: 10px 0 !important;
        width: 100%;
        height: 100px;
    }

    #btn-mobile-menu {
        left: 10px;
        top: 10px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .header-logo {
        height: 100px !important;
    }

    #btn-mobile-menu {
        display: none;
    }
}