.nav-links {
    margin-top: .5rem;
    height: 30px;
    background: transparent;
}

.nav-link-button {
    outline: 0 !important;
    border: 0 !important;
    height: 100%;
    text-transform: uppercase;
    font-weight: 600;
}


.nav-link-button:hover {
    background: #41560A
}